.dataTable {
  width: 1200px;
  border-collapse: collapse;
  border: 1px solid darkmagenta;
  table-layout: fixed;
}

.dataTable th:nth-child(1) {
  width: 20%;
}
.dataTable th:nth-child(2),
.dataTable th:nth-child(4) {
  width: 15%;
}
.dataTable th:nth-child(3) {
  width: 40%;
}
.dataTable th:nth-child(5) {
  width: 10%;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 2px 4px 2px 4px;  
}

.tableHeaders {
  text-align: left;
}

.tableDescription {
  font-size: 15px;
}

.tableName .tableRatings{
  font-size: 22px;
}

.tableId {
  width: 5%;
}

.tableTags {
  color: slateblue;;
}

.rateStars {
  width: 30px;
}

.hotelThumbnail {
  width: 150px;
  height: 140px;
  border: 1px solid slateblue;
  box-shadow: 1px 2px 2px cornflowerblue;
}

.ratingsHeader {
  cursor: pointer;
}

.inactiveListing {
  background-color: ghostwhite;
  color: grey;
  opacity: .4;
}

.unavailableHotel {
  font-size: 16px;
  color: red;
}

.header {
  height: 60px;
  vertical-align: middle;
  background-color: lavender;
}

.pagerButtons {
  background: aliceblue;
  border: 1px solid mediumblue;
  border-radius: 2px;
  height: 25px;
  width: 77px;
  font-size: 16px;
  cursor: pointer;
}

.paginationData {
  position: absolute;
  bottom: 20px;
  left: 42%;
}