.dataTable {
  width: 1200px;
  border: 1px solid darkmagenta;
}

.tableHeaders {
  text-align: left;
}

.tableRow {
  border: 1px solid grey;
}

.tableDescription {
  width: 40%;
  font-size: 15px;

}

.tableName .tableRatings{
  width: 20%;
  font-size: 22px;
}

.tableId .tableRating {
  width: 5%;
}

.tableTags {
  width: 10%;
  color: slateblue;
}

.rateStars {
  width: 30px;
}

.hotelThumbnail {
  width: 150px;
  height: 150px;
  border: 1px solid slateblue;
  box-shadow: 1px 2px 2px cornflowerblue;
}

.ratingsHeader {
  cursor: pointer;
}